@import '../../base-scss/base-styles.scss';

.cart-icon {
  position: relative;
  height: 90%;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background: none;
  border: none;
  outline: none;
  transition: filter 250ms ease-out, color 250ms ease-in, fill 250ms ease-in;

  &:focus,
  &:hover {
    filter: drop-shadow(0 0.2rem 2px black);
    color: $primary-colour;
    fill: $primary-colour;
  }

  .cart-svg {
    @include widthAndHeight(auto, 100%);
  }

  .item-count {
    position: absolute;
    font-size: 1.1rem;
    font-weight: bold;
    bottom: 50%;
    transform: translateY(calc(50% + 8px));
  }
}

.visually-hidden {
  @include visuallyHidden;
}
