@import '../../base-scss/base-styles.scss';

.sign-in {
    display: grid;
    place-items: center;

    h1 {
        font-weight: normal;
        margin-bottom: 1rem;
    }

    .buttons {
        display: flex;
        justify-content: space-between;
        margin-bottom: 1.5rem;

        button:first-of-type {
            margin-right: 1rem;
        }
    }

    a {
        text-decoration: underline;
        color: $secondary-colour;
    }
}