@import '../../base-scss/base-styles.scss';

.hamburger-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    @include widthAndHeight(3rem, 1.5rem);
    border: hidden;
    background-color: transparent;
    position: relative;
    margin: auto 0.5em auto 0.2em;

    @media (min-width: 769px){
        display: none;
    }

    & .burger-line {
        @include widthAndHeight(2rem, 2px);
        background-color: $primary-colour;
        border-radius: 5px;
    }
}

.visually-hidden {
    @include visuallyHidden;
}