@import '../../base-scss/base-styles.scss';

.collection-item {
  display: flex;
  flex-direction: column;
  height: 350px;
  align-items: center;
  position: relative;

  .collection-item_img {
    @include widthAndHeight(100%, 95%);
    background-size: cover;
    background-position: center;
    margin-bottom: 5px;
    border-radius: 5px;
    border: 0.5px solid lightgrey;
    transition: transform 300ms ease-in, box-shadow 300ms ease-out;

    &:hover {
      transform: translate(5px, -10px) rotate(4deg);
      box-shadow: 0 0 7px 2px rgba(black, 0.3);
    }
  }

  .custom-button {
    width: 80%;
    opacity: 0.7;
    position: absolute;
    top: 255px;
  }

  &:hover {
    .image {
      opacity: 0.8;
    }

    .custom-button {
      opacity: 0.85;
      display: flex;
      justify-content: center;
      
      &:hover {
        background-color: $primary-colour;
        color: white;
      }
    }
  }

  .collection-footer {
    @include widthAndHeight(100%, 5%);
    display: flex;
    justify-content: space-between;
    font-size: 18px;

    .name {
      width: 90%;
      margin-bottom: 15px;
    }

    .price {
      width: 10%;
    }
  }
}
